#canvas1{
    border: 2px solid black;
    height: 760px;
    width: 24%;

}
#canvas2{
    border: 2px solid black;
    height: 760px;
    width: 24%;

}
#canvas3{
    border: 2px solid black;
    height: 760px;
    width: 24%;

}
#canvas4{
    border: 2px solid black;
    height: 760px;
    width: 24%;

}